# Find a plugin to your favourite editor here: http://editorconfig.org/

# spellcheck ignored words , see some examples, TODO add links 
# scalaris 
# lzcz

[*]
charset = utf-8
indent_style = space
tab_width = 4s
insert_final_newline = true
trim_trailing_whitespace = true
